<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rocketinternet.android.tracking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <!-- ########## Ad4Push ########## -->
    <!-- #### Change your pkg name ### -->
    <permission
        android:name="your.package.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="your.package.permission.A4S_SEND"
        android:protectionLevel="signature" />

    <uses-permission android:name="yourpackage.permission.A4S_SEND" />
    <!-- ############################# -->

    <application
        android:name=".core.RITrackingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RIMainExampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Add Activity to listen for deep-links. The activity should extend RIDeepLinkingActivity
              and here it is possible to declare the data patterns to be intercepted. As an example
              take a look to RIDeepLinkingExampleActivity for implementing deep-linking filtering.
              You should use your package name -->
        <activity
            android:name="de.rocketinternet.android.tracking.RIDeepLinkingExampleActivity"
            android:label="@string/app_name" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://”. Change with expected scheme -->
                <data android:scheme="example" />
            </intent-filter>
        </activity>

        <!-- ############################## -->
        <!-- ########## TRACKERS ########## -->
        <!-- ############################## -->

        <!-- ########## GOOGLE TAG MANAGER ########## -->
        <!--  Add preview activity for Google Tag Manager -->
        <!--  You should add project package name -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.your.application.packagename" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- Used for install referrer tracking -->
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService"/>
        <receiver
            android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- ########## AD4PUSH ########## -->
        <!-- Ad4Push service -->
        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService">

            <!-- Use your partner id -->
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="your.partner.id" />
            <!-- Use your private key -->
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="your.private.key" />
            <!-- Use your sender id -->
            <meta-data
                android:name="com.ad4screen.senderid"
                android:value="gcm:yoursenderid" />
            <meta-data
                android:name="com.ad4screen.no_geoloc"
                android:value="true" />
            <!-- Uncomment this if you want to track Facebook app -->
            <!--<meta-data
                android:name="com.ad4screen.facebook_appid"
                android:value="fb:yourfacebookid" /> -->
        </service>

        <receiver
            android:name="com.ad4screen.sdk.A4SIDFVHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.QUERY" />
                <category android:name="com.ad4screen.sdk.intent.category.ANONYM_ID" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.ad4screen.sdk.ReferrerHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Use your package name -->
        <receiver
            android:name="com.ad4screen.sdk.GCMHandler"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="your.package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ad4screen.sdk.A4SPopup"
            android:taskAffinity=""
            android:theme="@style/com_ad4screen_sdk_theme_popup" />
        <activity
            android:name="com.ad4screen.sdk.A4SInterstitial"
            android:theme="@style/com_ad4screen_sdk_theme_interstitial" />

        <!-- Use a custom receiver in the application but this is a working example -->
        <receiver
            android:name="de.rocketinternet.android.tracking.RIPushNotificationExampleReceiver">
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.DISPLAYED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLICKED" />

                <category android:name="com.ad4screen.sdk.intent.category.PUSH_NOTIFICATIONS" />
                <category android:name="com.ad4screen.sdk.intent.category.INAPP_NOTIFICATIONS" />
                <category android:name="com.ad4screen.sdk.intent.category.INBOX_NOTIFICATIONS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
